html,
body,
#root,
.layout-wrapper {
  height: 100%;
  width: 100%;
}

.layout-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

.content-container {
  grid-area: main;
  overflow: auto;
  
  display: flex;
  flex-direction: column;
}
