.dashboard-container {
  max-width: 100%;
  max-height: 100%;
  
  display: grid;
  grid-template-rows: auto 1fr;

  height: 100%;

  padding: 0 20px 25px 25px;
}

.dashboard-rows-container {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  gap: 20px;

  height: 100%;
}

/* Row 1 */
.dashboard__row-one {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 20px;
}

/* Income and Expense Cards */
.dashboard__key-stats-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 0px 15px 0px 25px;

  border-radius: 7px;

  min-width: 250px;
}

.dashboard__key-stats-left {
  display: flex;
  flex-direction: column;
  
  .icon {
    font-size: 1.5em;
  }
  .value {
    margin-top: 5px;
    font-size: 1.6em;
    font-weight: 800;
  }
}

.dashboard__key-stats-right {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 70px;
  height: 60px;

  .change-value {
    font-style: italic;
    font-weight: 700;
    margin-top: 10px;

    display: flex;
    align-items: center;
  }

  .savings-to-go {
    margin-top: 10px;
    font-style: italic;
    font-size: 11px;
  }
}

/* Net Income Card */
.net-income-card {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  border-radius: 7px;
  min-width: 250px;

  .value {
    font-weight: 800;
    line-height: 1.1em;
    font-size: 3em;
  }

  svg {
    font-size: 1.5em;
  }
}

.dashboard__row-two {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;

  gap: 20px;
}

.dashboard__row-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 20px;
}






