.sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  grid-area: sidebar;

  position: relative;
  
  width: 71px;

  transition: width 0.35s ease-in-out;

  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.sidebar-menu.show {
  width: 230px;
}

.sidebar-menu-header {
  width: 100%;
  height: 68.570px;

  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar-menu-hamburger-icon {
  position: absolute !important; 
  right: 13px;
}

.sidebar-menu-body {
  position: absolute;
  top: 260px;
  
  height: 100% - (sidebar-menu-body top);
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  a:visited, a {
    color: inherit;
    text-decoration: none;
  }
}

.sidebar-menu-nav-link {
  display: flex;
  align-items: center;

  width: 100%;

  margin-bottom: 40px;

  transition: padding-left 0.25s ease-in-out;
}

.sidebar-menu-nav-title {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;

  animation: fade-in 2s;

  white-space: nowrap;

  margin-left: 15px;
}

.sidebar-menu-nav-icon {
  display: flex;
  align-items: center;

  animation: fade-in 1.5s;

  .MuiSvgIcon-root {
    font-size: 26px;
  }
}

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 

/* Logo Text */
.sidebar-menu-logo-text {
  animation: fade-in 1.5s;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 500;
}

/* Avatar */

.avatar-container {
  margin-top: 20px;
  animation: fade-in 1.5s;
  text-align: center;
  height: 140px;
}

.avatar-image {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;

  border: 2px solid;
  border-color: inherit;
}

.avatar-username {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}
